[submodule "projet-isa-devops-20-team-b-20-drone-delivery"]
	path = projet-isa-devops-20-team-b-20-drone-delivery
	url = https://github.com/pns-isa-devops/projet-isa-devops-20-team-b-20-drone-delivery.git
